@model EmployeeCreateViewModel

@{
	ViewBag.Title = "Create Employee";
}

<form enctype="multipart/form-data" method="post" class="mt-4">
	<div class="mb-3 row">
		<label asp-for="Name" class="col-sm-2 col-form-label"></label>
		<div class="col-sm-10">
			<input asp-for="Name" class="form-control" placeholder="Name" />
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>
	</div>

	<div class="mb-3 row">
		<label asp-for="Email" class="col-sm-2 col-form-label"></label>
		<div class="col-sm-10">
			<input asp-for="Email" class="form-control" placeholder="Email" />
			<span asp-validation-for="Email" class="text-danger"></span>
		</div>
	</div>

	<div class="mb-3 row">
		<label asp-for="Department" class="col-sm-2 col-form-label"></label>
		<div class="col-sm-10">
			<select asp-for="Department" asp-items="Html.GetEnumSelectList<Dept>()" class="form-select">
				<option value="">Select Option</option>
			</select>
			<span asp-validation-for="Department" class="text-danger"></span>
		</div>
	</div>

	<div class="mb-3 row">
		<label asp-for="Photos" class="col-sm-2 col-form-label"></label>
		<div class="col-sm-10 custom-file">
			<input asp-for="Photos" multiple class="form-control" />
		</div>
	</div>

	<div asp-validation-summary="All" class="text-danger"></div>

	<div class="mt-3">
		<button type="submit" class="btn btn-primary">Submit</button>
	</div>
</form>
