@model int

@{
	ViewBag.Title = "404 Error";
}

<div class="alert alert-danger mt-1 mb-1">
	<h4>404 Error Found</h4>
	<hr />
	<h5>Employee with ID = @Model can't be found</h5>
</div>
<div>
	<a asp-controller="Home" asp-action="Index" class="btn btn-outline-success" style="width:auto">
		Click here to see the list of all employees
	</a>
</div>
