@model EditUserViewModel

@{
	ViewBag.Title = "Edit user";
}

<h2>Edit User</h2>

<form method="post" class="mt-3">


	<div class="mb-3">
		<label asp-for="Id" class="col-sm-2 col-form-label"></label>
		<input asp-for="Id" disabled class="form-control" />
	</div>

	<div class="mb-3">
		<label asp-for="UserName" class="form-label"></label>
		<input asp-for="UserName" class="form-control" />
		<span asp-validation-for="UserName" class="text-danger"></span>
	</div>

	<div class="mb-3">
		<label asp-for="Email" class="form-label"></label>
		<input asp-for="Email" class="form-control" />
		<span asp-validation-for="Email" class="text-danger"></span>
	</div>

	<div class="mb-3">
		<label asp-for="City" class="form-label"></label>
		<input asp-for="City" class="form-control" />
	</div>

	<div asp-validation-summary="All" class="text-danger"></div>

	<div class="mb-3">
		<button type="submit" class="btn btn-primary" style="width:auto">Update</button>
		<a asp-action="ListUsers" asp-controller="Administration" style="width:auto"
		   class="btn btn-primary">Cancel</a>
	</div>

</form>

<div class="card mb-3">

	<div class="card-header">
		<h3>User Roles</h3>
	</div>

	<div class="card-body">
		@if (Model.Roles.Any())
		{
			@foreach (var roles in Model.Roles)
			{
				<h5 class="card-title">@roles</h5>
			}
		}
		else
		{
			<h5 class="card-title">
				None at the moment
			</h5>
		}
	</div>

	<div class="card-footer">
		<a href="#" class="btn btn-primary" style="width:auto">Manage Roles</a>
	</div>
</div>

<div class="card mb-3">

	<div class="card-header">
		<h3>User Claims</h3>
	</div>

	<div class="card-body">
		@if (Model.Claims.Any())
		{
			@foreach (var claims in Model.Claims)
			{
				<h5 class="card-title">@claims</h5>
			}
		}
		else
		{
			<h5 class="card-title">
				None at the moment
			</h5>
		}
	</div>

	<div class="card-footer">
		<a href="#" class="btn btn-primary" style="width:auto">Manage Claims</a>
	</div>
</div>